/* color palette */
:root {
--card-bg: #151925;
--title: #E53170;
--site-bg: #FFFFFE;
}
/* common rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--site-bg);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* utilities */
.container {
    width: 70%;
    margin:auto;
    margin-top: 3rem;
}

img {
    max-width: 100%;
    width: 5rem;
    float: left;
}

/* header */
header {
    text-align: center;
}

/* main */



/* row*/
.col_4{
    width: calc(100% /3);
    float: left;
}

.contacts {
    width: 50%;
    float: left;
}


