/* color palette */
:root {
    --var-bg: #FFFFFE;
    --var-title: #E53170;
    --var-text: #24131E;
    --var-box: #0F0E17;
    --var-contacts:#FFFFFE;
    --var-email: #5CC9F3;
    

}
/* common rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--var-bg);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* utilities */
.container {
    width: 70%;
    margin:auto;
    margin-top: 2rem;
}

img {
    max-width: 100%;
    width: 6rem;
}

/* header */
header {
    text-align: center;
    Font-family: 'Mitr', sans-serif;
    margin-bottom: 3rem;
}

header>h1 {
    font-size: 2.50rem;
    color: var(--var-title);
    font-weight: 900;
    margin-bottom: 3rem;
}

header>p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--var-text);
}

/* main */
main>p {
    text-align: center;
}



/* row rules*/
.col_4{
    width: calc(100% /3);
    float: left;
    padding: 0 1.5rem 2.5rem 0;
}

.contacts {
    width: 50%;
    float: left;
}

div>img {
    float: left;
}

/* cards style */
.cards {
    background-color: var(--var-box);
    box-shadow: 0 0 0.5rem;
    width: 80%;
}

/* contacts style */
.contacts {
    padding: 0.75rem 0 0.75rem 0;
    margin-left: 1rem;
}
.contacts>h2, .contacts>p {
    color: var(--var-contacts);
    font-family: 'Mitr', sans-serif;
}
.contacts>h2 {
    vertical-align: middle;
    font-size: 1.15rem;
    font-weight: bolder;
}
.contacts>p {
    font-size: 0.90rem;
    font-weight:200;
}
.contacts>a {
    font-size: 0.90rem;
    text-decoration: none;
    color: var(--var-email);
}

/* footer */
footer{
    text-align: center;
    margin-top: 10rem;
    font-family: 'Mitr', sans-serif;
    color: var(--var-text);
}

.heart{
    color: var(--var-title);
}

